<!doctype html>
<html lang="en">
  <head>
    <title>Calculator</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script  src="app.js"></script>
</head>
  <body ng-app="MyApp">

    <div class="calc" ng-controller="Calculator">
        <textarea name="dispaly" id="dispaly" cols="62" rows="5" ng-model="screen">
            hello my name is sagrar seth{{screen}}
        </textarea>
        <div id="no" ng-click="buttons($event)" class="no">
            <div>
                 <div ng-repeat="i in [7,8,9,'*']" id="{{i}}"><h3 ng-model="data">{{i}}</h3></div>
            </div>
            <div>
                <div ng-repeat="i in [4,5,6,'-']" id="{{i}}"><h3 ng-model="data">{{i}}</h3></div>
            </div>
            <div>
                 <div ng-repeat="i in [1,2,3,'+']" id="{{i}}"><h3 ng-model="data">{{i}}</h3></div>
            </div>
           <div>
                 <div ng-repeat="i in [0,'/','Cl','=']" id="{{i}}"><h3 ng-model="data">{{i}}</h3></div>
           </div>  
        </div>
       
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>