body{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#parent{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top:100px;
    width:300px;
    border:1px solid rgb(161, 156, 156);
}
#child{
    width:200px;
}
#search-bar{
    width:196px;
    height: 25px;
    font-size: medium;
}
.fruits{
    border-style: groove;
    width:100%;
}