<style>
    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .styled-table thead tr {
        background-color: white;
        color: #666;
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
        color: #666;
    }

    styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid orange;
    }

    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #666;
    }
</style>
<div align="center">
    <h1>Users using our System</h1>
    <table class="styled-table">
        <thead>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Password
            </th>
            <th>Remove</th>
        </thead>
        <tr ng-repeat="user in userList">
            <td>{{user['f_name']}}</td>
            <td>{{user['l_name']}}</td>
            <td>{{user['email']}}</td>
            <td>{{user['pwd']}}</td>
            <td><button ng-click="deleteUser(user['email'])">Delete</button></td>
        </tr>
    </table>
</div>